<header
  appClickOutside
  (clickOutside)="closeMobileMenu()"
  class="border-b border-zinc-200 bg-zinc-50"
>
  <div class="container flex items-center justify-between py-4">
    <nav class="flex items-center">
      <a
        routerLink="/"
        class="text-xl font-medium tracking-tight text-zinc-900 hover:text-zinc-700"
      >
        e-commerce
      </a>

      <ul class="hidden md:ml-12 md:flex md:flex-row md:items-center md:gap-8">
        @for (menuItem of menuItems; track $index) {
          <li>
            <a
              [routerLink]="menuItem.href"
              routerLinkActive="text-zinc-900"
              class="text-sm font-medium tracking-tight hover:text-zinc-700"
            >
              {{ menuItem.title }}
            </a>
          </li>
        }
      </ul>
    </nav>

    <!-- User navigation. -->
    <app-user-nav
      [menuItems]="userNavMenuItems"
      [sessionData]="sessionData()"
      (logout)="logout.emit()"
      class="hidden md:block"
    />

    <!-- Mobile menu trigger. -->
    <div class="flex md:hidden">
      <button
        type="button"
        (click)="toggleMobileMenu()"
        class="p-2.5 text-zinc-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="size-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu open state. -->
  @if (isMobileMenuOpen()) {
    <div class="md:hidden">
      <nav class="container">
        <ul class="flex flex-col gap-4">
          @for (menuItem of menuItems; track $index) {
            <li
              tabindex="0"
              role="menuitem"
              (keyup.enter)="toggleMobileMenu()"
              (click)="toggleMobileMenu()"
            >
              <a
                [routerLink]="menuItem.href"
                routerLinkActive="text-zinc-900"
                class="block text-sm font-medium tracking-tight hover:text-zinc-700"
              >
                {{ menuItem.title }}
              </a>
            </li>
          }
        </ul>

        <hr class="my-4 h-px bg-zinc-300" />

        <ul class="mb-4 flex flex-col gap-4">
          @for (menuItem of userNavMenuItems; track $index) {
            <li
              tabindex="0"
              role="menuitem"
              (keyup.enter)="toggleMobileMenu()"
              (click)="toggleMobileMenu()"
            >
              <a
                [routerLink]="menuItem.href"
                routerLinkActive="text-zinc-900"
                class="block text-sm font-medium tracking-tight hover:text-zinc-700"
              >
                {{ menuItem.title }}
              </a>
            </li>
          }

          <li
            tabindex="0"
            role="menuitem"
            (keyup.enter)="logout.emit()"
            (click)="logout.emit()"
          >
            <button
              class="text-sm font-medium tracking-tight hover:text-zinc-700"
            >
              Log out
            </button>
          </li>
        </ul>
      </nav>
    </div>
  }
</header>
