<section class="mx-auto max-w-md">
  <h2 class="heading">Log in</h2>
  <p class="mt-1 text-sm">
    Enter your email and password to start managing your e-commerce.
  </p>

  <form method="post" [formGroup]="loginForm" class="mt-6 space-y-4">
    <div class="space-y-2">
      <label appInputLabel for="email">Email</label>
      <input
        appInput
        type="text"
        id="email"
        name="email"
        placeholder="Enter your email"
        autocomplete="email"
        formControlName="email"
        required
      />
      @if (email?.invalid && (email?.dirty || email?.touched)) {
        @if (email?.hasError("required")) {
          <p appInputError>The email field is required.</p>
        }
        @if (email?.hasError("minlength")) {
          <p appInputError>The email field should be at least 8 characters long.</p>
        }
      }
    </div>

    <div class="space-y-2">
      <label appInputLabel for="password">Password</label>
      <input
        appInput
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        formControlName="password"
        required
      />
      @if (password?.invalid && (password?.dirty || password?.touched)) {
        @if (password?.hasError("required")) {
          <p appInputError>The password field is required.</p>
        }
        @if (password?.hasError("minlength")) {
          <p appInputError>
            The password field should be at least 8 characters long.
          </p>
        }
      }
    </div>

    <button
      appButton
      type="submit"
      [disabled]="loginForm.invalid"
      (click)="login()"
      class="w-full"
    >
      Log in
    </button>
  </form>

  <div class="mt-6 flex justify-center">
    <a appButton variant="link" routerLink="/auth/forgot-password">
      Forgot your password?
    </a>
  </div>
</section>
