<section class="mx-auto max-w-md">
  <h2 class="text-2xl font-semibold leading-7 tracking-tight text-gray-900">
    Log in
  </h2>
  <p class="mt-1 text-sm leading-6 text-gray-500">
    Enter your email and password to start managing your e-commerce.
  </p>

  <form method="post" [formGroup]="loginForm" class="mt-6 space-y-4">
    <div class="space-y-2">
      <label
        for="email"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Email</label
      >
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter your email"
        autocomplete="email"
        formControlName="email"
        required
        class="w-full rounded-md px-4 py-2 text-sm text-gray-900 shadow-sm ring-1 ring-gray-200 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      @if (email?.invalid && (email?.dirty || email?.touched)) {
        <div class="text-sm text-red-500">
          @if (email?.hasError("required")) {
            <span>The email field is required.</span>
          }
          @if (email?.hasError("minlength")) {
            <span>The email field should be at least 8 characters long.</span>
          }
        </div>
      }
    </div>

    <div class="space-y-2">
      <label
        for="password"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Password</label
      >
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        formControlName="password"
        required
        class="w-full rounded-md px-4 py-2 text-sm text-gray-900 shadow-sm ring-1 ring-gray-200 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      @if (password?.invalid && (password?.dirty || password?.touched)) {
        <div class="text-sm text-red-500">
          @if (password?.hasError("required")) {
            <span>The password field is required.</span>
          }
          @if (password?.hasError("minlength")) {
            <span
              >The password field should be at least 8 characters long.</span
            >
          }
        </div>
      }
    </div>

    <button
      type="submit"
      (click)="login()"
      [disabled]="loginForm.invalid"
      class="inline-flex h-10 w-full items-center justify-center whitespace-nowrap rounded-md bg-blue-600 px-4 py-2 text-sm font-semibold text-white hover:bg-blue-600/80 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:cursor-not-allowed"
    >
      Login
    </button>
  </form>
</section>
