<section class="mx-auto max-w-md">
  <h2 class="heading">Log in</h2>
  <p class="text mt-1">
    Enter your email and password to start managing your e-commerce.
  </p>

  <form method="post" [formGroup]="loginForm" class="mt-6 space-y-4">
    <div class="space-y-2">
      <label for="email" class="label">Email</label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter your email"
        autocomplete="email"
        formControlName="email"
        required
        class="form-control"
      />
      @if (email?.invalid && (email?.dirty || email?.touched)) {
        <div class="invalid">
          @if (email?.hasError("required")) {
            <span>The email field is required.</span>
          }
          @if (email?.hasError("minlength")) {
            <span>The email field should be at least 8 characters long.</span>
          }
        </div>
      }
    </div>

    <div class="space-y-2">
      <label for="password" class="label">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        formControlName="password"
        required
        class="form-control"
      />
      @if (password?.invalid && (password?.dirty || password?.touched)) {
        <div class="invalid">
          @if (password?.hasError("required")) {
            <span>The password field is required.</span>
          }
          @if (password?.hasError("minlength")) {
            <span
              >The password field should be at least 8 characters long.</span
            >
          }
        </div>
      }
    </div>

    <button
      type="submit"
      [disabled]="loginForm.invalid"
      (click)="login()"
      class="btn btn-primary w-full"
    >
      Log in
    </button>
  </form>

  <div class="mt-6 flex justify-center">
    <a routerLink="/auth/forgot-password" class="link">Forgot your password?</a>
  </div>
</section>
