<div clickOutside (clickOutside)="onClickOutside()" class="relative">
  <button
    type="button"
    class="relative flex rounded-full text-sm shadow-sm focus:outline-none focus:ring-2 focus:ring-zinc-600"
    id="user-menu-button"
    aria-expanded="false"
    aria-haspopup="true"
    (click)="toggleIsOpen()"
  >
    <span class="sr-only">Open user menu</span>
    <img
      class="size-10 rounded-full"
      src="https://ui-avatars.com/api/?name={{ fullname }}&format=svg"
      alt="{{ user?.first_name }}'s profile picture"
    />
  </button>

  @if (isOpen) {
    <div
      class="absolute right-0 z-10 mt-1.5 origin-top-right overflow-hidden rounded-md bg-white p-2.5 shadow-md"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="user-menu-button"
    >
      <div class="px-2 py-1.5">
        <p class="text-nowrap text-sm font-semibold leading-none text-zinc-900">
          {{ fullname }}
        </p>
        <p class="mt-1 text-nowrap text-sm leading-none">{{ user?.email }}</p>
      </div>

      <hr class="my-1 h-px bg-zinc-300" />

      <a
        routerLink="/account"
        role="menuitem"
        class="inline-flex w-full rounded-sm px-2 py-1.5 text-left text-sm font-medium hover:bg-zinc-100"
      >
        Account
      </a>
      <a
        routerLink="/settings"
        role="menuitem"
        class="inline-flex w-full rounded-sm px-2 py-1.5 text-left text-sm font-medium hover:bg-zinc-100"
      >
        Settings
      </a>
      <button
        role="menuitem"
        (click)="logout()"
        class="w-full rounded-sm px-2 py-1.5 text-left text-sm font-medium hover:bg-zinc-100"
      >
        Log out
      </button>
    </div>
  }
</div>
