<button
  type="button"
  class="relative flex rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-blue-600"
  id="user-menu-button"
  aria-expanded="false"
  aria-haspopup="true"
  (click)="toggleIsOpen()"
>
  <span class="sr-only">Open user menu</span>
  <img
    class="size-10 rounded-full"
    src="https://ui-avatars.com/api/?name={{ user?.first_name }}"
    alt="{{ user?.first_name }}'s profile picture"
  />
</button>

@if (isOpen) {
  <div
    class="absolute right-0 z-10 mt-2 origin-top-right overflow-hidden rounded-md bg-gray-50 shadow-sm"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="user-menu-button"
  >
    <div class="flex flex-col px-4 py-2.5">
      <p class="text-nowrap text-sm text-gray-900">
        {{ user?.first_name }} {{ user?.last_name }}
      </p>
      <p class="text-nowrap text-sm text-gray-700">{{ user?.email }}</p>
    </div>

    <hr class="my-1" />

    <a
      routerLink="/account"
      class="block px-4 py-2.5 text-sm text-gray-800 hover:bg-gray-100"
    >
      Account
    </a>
    <a
      href="#"
      role="menuitem"
      (click)="logout()"
      class="block px-4 py-2.5 text-sm text-gray-800 hover:bg-gray-100"
    >
      Log out
    </a>
  </div>
}
