<div class="mx-2 mt-4 flex flex-col sm:flex-row sm:items-center md:gap-8">
  <div class="flex-1">
    @if (totalItems() > 0) {
      <p class="text-sm">
        Showing {{ from() }} to {{ to() }} of {{ totalItems() }} entries.
      </p>
    }
  </div>

  <div class="mt-4 flex items-center gap-2 sm:mt-0">
    <span class="text-sm">Items per page: </span>

    <select
      #sizeSelect
      id="items-per-page"
      (change)="changeSize(sizeSelect.value)"
      class="block min-w-20 cursor-pointer items-center gap-4 rounded-md border border-zinc-200 px-3 py-1.5 text-sm text-nowrap text-zinc-700 focus:border-blue-500 focus:ring-0 focus:outline-none"
    >
      @for (option of [10, 20, 30, 40, 50]; track $index) {
        <option [value]="option" [selected]="option === size()">
          {{ option }}
        </option>
      }
    </select>
  </div>

  <div class="mt-4 flex items-center justify-between gap-4 sm:mt-0">
    @if (totalPages()) {
      <p class="text-sm">Page {{ page() }} of {{ totalPages() }}</p>
    }

    <div class="flex items-center gap-2">
      <button
        appButton
        variant="outline"
        size="icon"
        (click)="changePage(pageType.FIRST_PAGE)"
        [disabled]="!hasPreviousPage()"
      >
        <span class="sr-only">First page</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-3.5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5"
          />
        </svg>
      </button>

      <button
        appButton
        variant="outline"
        size="icon"
        (click)="changePage(pageType.PREVIOUS_PAGE)"
        [disabled]="!hasPreviousPage()"
      >
        <span class="sr-only">Previous page</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-3.5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5 8.25 12l7.5-7.5"
          />
        </svg>
      </button>

      <button
        appButton
        variant="outline"
        size="icon"
        (click)="changePage(pageType.NEXT_PAGE)"
        [disabled]="!hasNextPage()"
      >
        <span class="sr-only">Next page</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-3.5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>

      <button
        appButton
        variant="outline"
        size="icon"
        (click)="changePage(pageType.LAST_PAGE)"
        [disabled]="!hasNextPage()"
      >
        <span class="sr-only">Last page</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-3.5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
