<p>
  login works! <br />
  guest users can visit
</p>

<form method="post">
  <div>
    <label for="email"><b>Username</b></label>
    <input
      type="text"
      placeholder="Enter Username"
      name="email"
      [(ngModel)]="email"
      required
    />

    <label for="password"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      name="password"
      [(ngModel)]="password"
      required
    />

    <button type="submit" (click)="login()">Login</button>
  </div>
</form>
