<button appButton variant="outline" size="icon" (click)="onEditClicked()">
  <span class="sr-only">Edit customer</span>
  <svg lucidePencil class="size-3.5"></svg>
</button>

@if (customer.deleted_at) {
  <button appButton variant="outline" size="icon" (click)="onRestoreClicked()">
    <span class="sr-only">Restore customer</span>
    <svg lucideRotateCcw class="size-3.5"></svg>
  </button>
} @else {
  <button appButton variant="outline" size="icon" (click)="onDeleteClicked()">
    <span class="sr-only">Delete customer</span>
    <svg lucideTrash2 class="size-3.5"></svg>
  </button>
}
