<button
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  id="user-menu-trigger"
  type="button"
  aria-haspopup="true"
  aria-controls="user-menu"
  [attr.aria-expanded]="isOpen()"
  (click)="toggleIsOpen()"
  class="flex rounded-full text-sm shadow-xs focus:ring-2 focus:ring-zinc-500 focus:outline-hidden"
>
  <span class="sr-only">Open user menu</span>
  <img
    [src]="src()"
    [alt]="alt()"
    class="size-10 cursor-pointer rounded-full"
  />
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen()"
  [cdkConnectedOverlayHasBackdrop]="isOpen()"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayPositions]="[
    {
      offsetY: 8,
      originX: 'end',
      originY: 'bottom',
      overlayX: 'end',
      overlayY: 'top',
    },
  ]"
  (backdropClick)="toggleIsOpen()"
  (detach)="close()"
>
  <div
    id="user-menu"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="user-menu-trigger"
    class="overflow-hidden rounded-md border border-zinc-100 bg-white p-2.5 shadow-sm"
  >
    <div class="px-2 py-1.5">
      <p class="text-sm leading-none font-semibold text-nowrap text-zinc-900">
        {{ fullname() }}
      </p>
      <p class="mt-1 text-sm leading-none text-nowrap">
        {{ sessionData()?.email }}
      </p>
    </div>

    <hr class="my-1 border-zinc-200" />

    <nav>
      <ul>
        @for (item of menuItems(); track $index) {
          <li>
            <a
              role="menuitem"
              tabindex="-1"
              [routerLink]="item.href"
              (click)="toggleIsOpen()"
              class="inline-flex w-full rounded-xs px-2 py-1.5 text-left text-sm font-medium hover:bg-zinc-100"
            >
              {{ item.title }}
            </a>
          </li>
        }

        <li>
          <button
            role="menuitem"
            tabindex="-1"
            (click)="logout.emit()"
            class="w-full cursor-pointer rounded-xs px-2 py-1.5 text-left text-sm font-medium hover:bg-zinc-100"
          >
            Log out
          </button>
        </li>
      </ul>
    </nav>
  </div>
</ng-template>
