<h6 class="text-sm font-semibold">{{ data().title }}</h6>

@if (data().description) {
  <span class="text-sm">{{ data().description }}</span>
}

<div class="absolute top-2.5 right-4 block">
  <span class="sr-only">Close notification</span>
  <button (click)="close()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      aria-hidden="true"
      class="size-5 hover:cursor-pointer"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
  </button>
</div>
