<section>
  <div class="flex gap-4">
    <div class="flex-auto">
      <h2 class="text-2xl font-bold leading-7 tracking-tight text-gray-900">
        Users
      </h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">
        A list of all the users registered including their name, email, and
        role.
      </p>
    </div>

    <button
      type="submit"
      class="inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md bg-blue-600 px-4 py-2 text-sm font-semibold text-white hover:bg-blue-600/80 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:cursor-not-allowed"
    >
      Add user
    </button>
  </div>

  <div class="mt-6">
    @for (user of users; track user.id) {
      <p>{{ user.id }}</p>
      <p>{{ user.first_name }} {{ user.last_name }}</p>
      <p>{{ user.email }}</p>
    }
  </div>
</section>
