<section>
  <div class="flex flex-col gap-4 md:flex-row">
    <div class="flex-auto">
      <h2 class="heading">Users</h2>
      <p class="mt-1 text-sm">
        A list of all the users registered including their name, email, and
        role.
      </p>
    </div>

    <button appButton type="submit" class="btn btn-primary">Add user</button>
  </div>

  <div class="mt-6 overflow-auto rounded-md border shadow-sm">
    <table class="table">
      <thead class="table-header">
        <tr>
          <th scope="col" class="table-header-cell w-20">
            <span class="sr-only">Profile picture</span>
          </th>
          <th scope="col" class="table-header-cell">Name</th>
          <th scope="col" class="table-header-cell">Email</th>
          <th scope="col" class="table-header-cell">Role</th>
          <th scope="col" class="table-header-cell">Registered at</th>
          <th scope="col" class="table-header-cell">Updated at</th>
          <th scope="col" class="table-header-cell">Status</th>
          <th scope="col" class="table-header-cell">Actions</th>
        </tr>
      </thead>

      <tbody class="table-body">
        @if (users.length > 0) {
          @for (user of users; track user.id) {
            <tr>
              <td class="table-data-cell">
                <img
                  class="size-8 rounded-full"
                  src="https://ui-avatars.com/api/?name={{
                    user?.first_name
                  }}%20{{ user?.last_name }}&format=svg&background=d4d4d8"
                  alt="{{ user?.first_name }}'s profile picture"
                />
              </td>
              <td class="table-data-cell">
                {{ user.first_name }} {{ user.last_name }}
              </td>
              <td class="table-data-cell">{{ user.email }}</td>
              <td class="table-data-cell">
                {{ user.user_role }}
              </td>
              <td class="table-data-cell">
                {{ user.created_at | date: "short" }}
              </td>
              <td class="table-data-cell">
                {{ user.updated_at | date: "short" }}
              </td>
              <td class="table-data-cell">
                @if (user.deleted_at) {
                  <span
                    appBadge
                    variant="danger"
                    class="inline-flex items-center"
                  >
                    <span
                      class="mr-1.5 inline-flex size-2 rounded-full bg-red-500"
                    ></span>
                    Inactive
                  </span>
                } @else {
                  <span
                    appBadge
                    variant="success"
                    class="inline-flex items-center"
                  >
                    <span
                      class="mr-1.5 inline-flex size-2 rounded-full bg-green-500"
                    ></span>
                    Active
                  </span>
                }
              </td>
              <td class="table-data-cell flex gap-2">
                <button appButton variant="secondary" size="icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="size-4"
                  >
                    <path d="m9 18 6-6-6-6"></path>
                  </svg>
                </button>
                <button appButton variant="danger" size="icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="size-4"
                  >
                    <path d="m9 18 6-6-6-6"></path>
                  </svg>
                </button>
              </td>
            </tr>
          }
        } @else {
          <tr>
            <td colspan="8" class="h-24 text-center">No results.</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
