/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400..700;1,14..32,100..900&display=swap");
@import "@angular/cdk/overlay-prebuilt.css";
@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer components {
  .heading {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--text-xl--line-height);
    letter-spacing: var(--tracking-tight);
    color: var(--color-zinc-900);
  }
}
